html {

	height: 100%;
	
}
a:link{
text-decoration:none;

}

h3 {
	color: white;
	padding-left: 1em;
	padding-right: 1em;
}

.tableUsuarios {

	margin-top: 20px;
  	margin-bottom: 20px;
  	margin-right: 20px;
  	margin-left: 20px;
}

.botao {
	border:none;
	background: none;
}